nav.pagination {
  ul {
    display: flex;
    gap: 20px;
    justify-content: center;

    li {
      border: 1px solid #2f5aff;
      padding: 10px;
      border-radius: 5px;
      cursor: pointer;

      &.current, &.prev, &.next {
        background-color: #2f5aff;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  nav.pagination {
    ul {
      gap: 6px; 
      li {
        padding: 6px; 
        font-size: 0.6rem; 
    }
  }
}
}
